cpp/CodingTest/.vs
cpp/CodingTest/Debug/*
cpp/CodingTest/x64/*
cpp/CodingTest/CodingTest/Debug/*
cpp/CodingTest/CodingTest/x64/*
cpp/CodingTest/CodingTest/*.vcxproj
cpp/CodingTest/CodingTest/*.vcxproj.*

rust/algorithm/target/*
rust/algorithm/Cargo.lock
